<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sandrolaxQ&A</title>
</head>
<body>
    <% if(msg){ %>
        <h1>A simple PopUp</h1>
    <%} else { %>
        <h1>Nothing to show :C</h1>
    <%}%>     
</body>
</html>