<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/class_07.css">
    <title>sandrolaxQ&A</title>
</head>

<body>
    <% products.forEach(function(product) { %>
    <hr>
    <h3><%=product.name %></h3>
    <h3><%=product.price %></h3>
    <% }) %>
    <img src="/img/img_class_07.png" alt="Mrs.Avocade">
</body>

</html>